package rooms

templ LoadingBuzzer() {
<button class="buzzer loading" disabled >
  Loading...
</button>
}

templ WaitingBuzzer() {
<button class="buzzer locked" disabled >
  Waiting
</button>
}

templ LockedBuzzer() {
<button class="buzzer locked" disabled >
  Locked
</button>
}

templ ReadyBuzzer() {
<button class="buzzer" onclick="buzz()">
  Buzz
</button>
}
