package rooms

templ BuzzerButton (isDisabled bool) {
  <button
    class="buzzer"
    id="buzzer"
    onclick="buzz()"
    hx-swap-oob="outerHTML:.buzzer"
    disabled?={isDisabled}
  >
    if isDisabled {
      Waiting
    } else {
      Buzz
    }
  </button>
}
