package login

templ login() {
<style>
button { display: block; }
button, label { margin: 20px 0; }
</style>

<main class="login">
  <h1>Login</h1>
  <form action="/login" method="POST">
    <label>Password: <input type="password" name="password"></label>
    <button>Submit</button>
  </form>
</main>
}
