:root {
  --button-enabled-color: green;
  --button-pressed-color: darkgreen;
  --button-disabled-color: red;
  --logo-color: green;
}

body {
  max-width: 800px;
  padding: 15px 10px;
  margin: 0 auto;
}

.logo {
  font-size: 30px;
  font-family: "Arial Black", "Arial";
  font-style: italic;
  color: var(--logo-color);
  user-select: none;
  text-decoration: none;
  display: block;
  border-top: 2px solid var(--logo-color);
  border-bottom: 2px solid var(--logo-color);
  text-align: center;
}

.logo:visited {
  color: var(--logo-color);
}

button.buzzer {
  display: block;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 30px;
  background-color: var(--button-enabled-color);
  border: 8px solid black;
  border-radius: 50%;

  &:active:enabled {
    background-color: var(--button-pressed-color);
  }

  &:disabled {
    background-color: var(--button-disabled-color)
  }
}

section.log {
  margin-top: 30px;
}

table.tournaments {
  width: min(90%, 400px);

  th {
    text-align: left;
  }

  th, td {
    padding: 5px;
  }

}

table.rooms {
  width: 100%;

  th {
    text-align: left;
  }

  th, td {
    padding: 5px;
  }

}

button.action, a.action {
  background-color: #f7f7f7;
  border-radius: 2px;
  border: 1px solid #424141;
  font-size: .9rem;
  cursor: pointer;
  margin: 3px;
  padding: 1px 4px;

  &:hover {
    background-color: #e2e2e2;
  }

  &.edit {
    color: #00693e;
  }

  &.delete {
    color: rgb(205, 62, 43);
  }
}

a.button {
  display: inline-block;
  text-decoration: none;
}
