:root {
  --button-enabled-color: green;
  --button-pressed-color: darkgreen;
  --button-disabled-color: red;
}

body {
  max-width: 700px;
  margin: 0 auto;
}

button.buzzer {
  display: block;
  width: 200px;
  height: 200px;
  color: white;
  font-size: 30px;
  background-color: var(--button-enabled-color);
  border: 8px solid black;
  border-radius: 50%;
}

button.buzzer:active:enabled {
  background-color: var(--button-disabled-color);
}

button.buzzer:disabled {
  background-color: var(--button-disabled-color)
}

button.buzzer:disabled {
  background-color: var(--button-disabled-color)
}

section.log {
  margin-top: 30px;
}
