:root {
  --logo-color: green;
  --button-pressed-color: darkgreen;
  --text-secondary: gray;
  --unlocked-color: green;
  --loading-color: gray;
  --processing-color: orange;
  --locked-color: red;
}

body {
  font-family: 'Arial', 'Sans Serif';
  max-width: 1000px;
  padding: 15px 10px;
  margin: 0 auto;
  scrollbar-gutter: stable;
}

.hidden {
  display: none;
}

.notice {
  margin: 20px 0;
  padding: 20px;
  background-color: lightblue;
  font-size: 1.1rem;
  border-radius: 3px;
}

.alert {
  margin: 20px 0;
  padding: 20px;
  background-color: red;
  font-size: 1.1rem;
}

main {
  margin: 30px auto;
}

main.index, main.login {
  max-width: 600px;
}

main.game {
  max-width: 900px;
}

.logo {
  font-size: 30px;
  font-family: "Arial Black", "Arial";
  font-style: italic;
  color: var(--logo-color);
  user-select: none;
  text-decoration: none;
  display: block;
  border-top: 2px solid var(--logo-color);
  border-bottom: 2px solid var(--logo-color);
  text-align: center;
}

.logo:visited {
  color: var(--logo-color);
}

table.tournaments {
  width: min(90%, 400px);

  th {
    text-align: left;
  }

  th, td {
    padding: 5px;
  }

}

table.rooms-player {
  width: 100%;

  th {
    text-align: left;
  }

  th, td {
    padding: 5px 10px;
  }

  td:first-child {
    width: max-content;
  }
}

table.rooms {
  width: 100%;

  th {
    text-align: left;
  }

  th, td {
    padding: 5px;
  }
}

.fake-row {
  padding: 20px 8px;

  input {
    width: 50%;
  }
}

button.action, a.action {
  font-family: 'Arial', 'Sans Serif';
  background-color: #f7f7f7;
  border-radius: 2px;
  border: 1px solid #424141;
  font-size: .9rem;
  cursor: pointer;
  margin: 10px 0;
  padding: 1px 4px;

  &:hover {
    background-color: #e2e2e2;
  }

  &.edit {
    color: #00693e;
  }

  &.delete {
    color: rgb(205, 62, 43);
  }
}

a.button {
  display: inline-block;
  text-decoration: none;
}

section.logs {
  .log-container {
    height: 15rem;
    overflow-y: scroll;
    border: 2px solid var(--unlocked-color);
    scrollbar-gutter: stable;
  }

  time {
    font-family: monospace;
    color: var(--text-secondary);
    margin-right: 10px;

    &::before {
      content: '['
    }

    &::after {
      content: ']'
    }
  }
}

